@import "../../styles/variables";
@import "../../styles/mixins";

.details {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  gap: $grid-gap;
}

.placeholder {
  @include details-placeholder;
}
