@import "../../styles/variables";
@import "../../styles/mixins";

.details {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  gap: $grid-gap;
  position: relative;
}

.placeholder {
  @include details-placeholder;
}

.btn {
  @include btn;
  @include hover-style;
  padding: 0.5rem;
  border: 1px solid $color-grey;
  font-size: $font-small;

  position: absolute;
  top: $grid-gap;
  right: calc(2 * $grid-gap);

  @media (max-width: $break-phone) {
    border: none;
    padding: 0rem;

    &:hover {
      transform: scale(1);
      box-shadow: none;
    }
  }

  & span {
    @media (max-width: $break-phone) {
      display: none;
    }
  }

  & svg {
    height: 2rem;

    @media (max-width: $break-phone) {
      height: 5rem;
    }
  }
}
