@import "../../styles/variables";
@import "../../styles/mixins";

.placeholder {
  @include details-placeholder;

  & h2 {
    width: 70%;
    margin: auto;
  }
}

.icon {
  font-size: $font-small;
  width: 5px;
  height: 5px;
}
