@import "../../styles/variables";
@import "../../styles/mixins";

.products {
  @include details-wrapper;
  position: relative;
}

.header {
  @include details-header;
}

.btn {
  @include btn;
  @include hover-style;
  padding: 0.5rem;
  border: 1px solid $color-grey;
  font-size: $font-small;

  position: absolute;
  top: $grid-gap;
  right: $grid-gap;

  & ion-icon {
    font-size: $font-large;
  }
}
