@import "../../styles/variables";
@import "../../styles/mixins";

.products {
  @include details-wrapper;
}

.placeholder {
  text-align: center;
  display: flex;
  align-items: center;
}

table {
  width: 100%;
  font-size: $font-medium;
}

th {
  text-align: start;
  padding: 1rem 0;
}

.two,
.three,
.four {
  width: 5.5rem;
}

.five {
  width: 8rem;
}
.six {
  width: 7rem;
}

td {
  padding: 0.7rem 0;
}

.total {
  font-weight: 700;
  font-size: $font-large;
  padding: 1rem 0;
}
