@import "../../styles/variables";
@import "../../styles/mixins";

.wrapper {
  @include details-wrapper;
  height: 40rem;
}

.header {
  @include details-header;
  margin-bottom: $grid-gap;

  & svg {
    height: $font-large-very;
  }
}

.chart {
  //   background-color: $color-grey-light-very;
  width: 100%;
  height: 80%;
}
