@import "../../styles/variables";
@import "../../styles/mixins";

.table {
  width: 100%;
  font-size: $font-small;
  margin-top: $grid-gap;
  border-spacing: 0;
}

tbody {
  tr:nth-child(odd) {
    background-color: $color-grey-light-very;
  }
}

th {
  text-align: center;
  font-size: $font-small;
  font-weight: 600;
  max-height: 12rem;
}

td {
  padding: 0.7rem 0;
  text-align: center;

  &:last-child {
    background-color: none;
  }
}

.column {
  width: 7rem;
}

.no {
  width: 4rem;
  text-align: center;
  writing-mode: horizontal-tb;
  transform: rotate(0);
  text-align: center;
}

.name {
  width: auto;
  writing-mode: horizontal-tb;
  transform: rotate(0);
  text-align: left;
}

.total {
  font-weight: 700;
  font-size: $font-large;
  padding: 1rem 0;
  width: 12rem;
}
