@import "../../styles/variables";
@import "../../styles/mixins";

.wrapper {
  display: flex;
  align-items: stretch;
  margin-bottom: $grid-gap;
}

.form {
  width: 100%;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(3, 3fr 2fr);
  align-items: center;
  background-color: $color-white;
  padding: 1.5rem;
  border-radius: $border-radius;
  font-size: $font-small;

  & .name {
    grid-column: 2/-1;
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  & input {
    width: 100%;
    font-size: $font-small;
    padding: 0.3rem 0;
  }

  & h3 {
    font-size: $font-small;
    font-weight: 400;
  }
}

.readonly {
  background: none;
  border: none;
}

.btn {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 0.5rem;
  font-size: $font-medium;

  & span {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
  }

  & ion-icon {
    font-size: 3rem;
    color: $color-grey-dark;
  }

  transition: all 0.1s;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(1.05);
  }
}
