@import "../../styles/variables";

.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.75rem;
  margin: 0 $grid-gap 0 $grid-gap;

  @media (max-width: $break-tablet) {
    grid-template-columns: 1fr;
  }
}
