@import "../../styles/variables";
@import "../../styles/mixins";

.cart {
  display: grid;
  grid-template-columns: 1fr 6.5rem;
  align-content: center;

  @include card-cart;

  & p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.price {
  grid-column: -2 / -1;
  grid-row: 1 / 4;

  background-color: $color-base-light;
  aspect-ratio: 1;
  border-radius: 10rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-weight: 700;

  position: relative;
}

.total {
  text-decoration: line-through;

  &-discount {
    font-size: $font-medium;
    color: $color-secondary;
  }
}

.header {
  display: flex;
  align-items: center;

  & svg {
    height: $font-medium;
  }

  & h2 {
    text-align: center;
  }
}

.active {
  transform: scale(1.02);
  box-shadow: 0 3px 3px $color-shadow;
  // outline: 2px solid $color-grey-light;
  position: relative;

  // I need to create this pseudo element, as outline does not work on ios...
  &::before {
    content: "";
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    border: 2px solid $color-grey-light;
    border-radius: calc($border-radius + 2px);
  }

  @media (max-width: $break-tablet) {
    // outline have no radius on ios so i use border instead
    // outline: none;
    // border: 2px solid $color-grey-light;
  }
}
