@import "../styles/variables";

.header__wrapper {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  background-color: $color-white;
  height: $height-header;
  box-shadow: 0 2px 2px $color-shadow;

  @media (max-width: $break-phone) {
    height: $height-header-phone;
  }
}

.header {
  font-size: $font-large-very;
  margin: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;

  @media (max-width: $break-phone) {
    margin: 1.5rem;
  }
}

.icon {
  background-color: $color-base;
  border-radius: 10rem;
  height: 7rem;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  & svg {
    height: 60%;
  }

  @media (max-width: $break-phone) {
    height: 6rem;
  }
}
